.cor-1-bg {
  background-color: #f4fffe;
}

.cor-2-bg {
  background-color: #1348ce;
}

.cor-1-letra {
  color: #06277b;
}

.cor-2-letra {
  color: #f2fffe;
}

.cor-3-letra {
  color: #fcff51;
}

.cor-4-letra {
  color: #000;
}

.cor-5-letra {
  color: #7a7a7a;
}