.decoracao-oferta {
  display: flex;
  justify-content: center;
  position: relative;
}

.decoracao-oferta::before {
  content: '';
  position: absolute;
  display: block;
  top: -10px;
  height: 2px;
  width: 3000px;
  background-color: #f3f3f3;
}

.decoracao-oferta::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -10px;
  height: 2px;
  width: 3000px;
  background-color: #f3f3f3;
}