section {
  display: flex;
  overflow-x: auto;
  padding-bottom: 40px;
}

.bloco-itens {
  border-left: 2px solid #d7d7d7;
  border-top: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  border-radius: 5px 5px 0 0;
  margin-top: 84px;
  margin-left: 82px;
  width: 215px;
  height: 240px;
}

.bloco-img {
  border-radius: 5px 5px 0 0;
}

.bloco-painel-preco {
  border-left: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  margin-left: 82px;
  padding-bottom: 15px;
  width: 215px;
  height: 80px;
  border-radius: 0 0 5px 5px;
  line-height: 20px;
}

.painel-preco {
  display: grid;
  gap: 3px;
  padding-top: 10px;
  margin-left: 10px;
}

.bloco-nome-item:hover {
  color: #1348ce;
}

.bloco-preco-cortado {
  position: relative;
}

.bloco-preco-cortado::after {
  content: "";
  width: 75px;
  height: 2px;
  top: 7px;
  background-color: #7a7a7a;
  display: block;
  position: absolute;
}